header{
    height: 82px;
    

    }
header img{
    vertical-align: middle;
    margin-top: 12px;
    width: 186px;
    height: 60px;
}
header .nav{
    padding-top: 28px;

}
header .nav a{
    display: inline-block;
    border-right: 1px solid #000;
    padding-left: 10px;
    padding-right: 18px;
}
header .nav a:last-child{
    border-right: none;
}
.banner img{
    display: inline-block;
    width: 100%;
    
}
.request{
    height: 424px;
    margin-top: 20px!important;
}
.request h1{
    width: 170px;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    border-bottom: 2px solid #000;
    font-weight: 800
}
.request h3{
    font-size: 25px;
    font-weight: bold;
}
.request p{
    margin-left: 22px;
    margin-top: 10px;
    
}
.request p span{
    color: red;
}
.request div{
    margin-top: 30px;
    margin-left: 40px;
}
footer{
    background: #40444a;
    padding-bottom: 10px;
}
footer .download_app{
    width: 900px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center; 
    padding-top:30px;
   
    
}
footer .download_app div:nth-child(2){
    margin-left: 40px;
}
footer .download_app img{
    width: 114px;
    height: 114px;
}
footer p{
    color: #ccc;
    font-size: 14px;
}
